<div class="list-group no-radius alt">
  <div class="list-group-item clearfix" ng-repeat="acc in project.accounts">
    <div></div>
    <div class="col-lg-4">
      <span class="h4">{{ acc.balance|number:2 }}</span><i class="icon-{{ acc.currency.code.toLowerCase() }}"></i>
    </div>
    <span class="h5">
      <i class="icon-remove remove" ng-if="project.access == 'Owner' || project.access == 'Admin'" ng-click="remove(acc)"></i>
      {{ acc.name }}
    </span>
    <span class="pull-right badges">

      <span class="sum"><i class="icon-{{ acc.currency.code.toLowerCase() }}"></i> {{ acc.statistics.sum|number:2 }} </span>
      <span class="count"><i class="icon-th-list"></i> {{ acc.statistics.count }} </span>
      
      <span class="filter-icons">
        <i class="icon-check-empty" ng-show="project.filters.accounts.indexOf(acc._id) < 0" ng-click="toggleFilter(acc)"></i>
        <i class="icon-check" ng-show="project.filters.accounts.indexOf(acc._id) > -1" ng-click="toggleFilter(acc)"></i>
      </span>
    </span> 
  </div>
</div>
<form role="form" class="col-sm-12" ng-submit="submit()" ng-if="project.access == 'Owner' || project.access == 'Admin'">
  <h5>Add accounts to the Project</h5>
  <div class="alert alert-danger" ng-show="error">An error has occured: {{ error }}.</div>
  <div class="form-group">
    <select class="form-control input-sm" ng-model="account.id" ng-options="acc._id as acc.name for acc in AccountFactory.userAccounts" required></select>
  </div>
  <div class="form-group">
    <input type="submit" value="Add" class="btn btn-sm btn-primary" />
  </div>
</form>
