<div ng-show="!AccountFactory.userAccounts.length" class="wrapper h3 font-thin">No accounts yet <a class="btn btn-primary" ui-sref="root.index.accounts-edit">Create</a></div>
<div ng-repeat="acc in AccountFactory.userAccounts" class="article-item">
  <div ng-access-triangle="{ access: acc.access }"></div>
  <article class="clearfix row">
    <div class="col-lg-4">
      <span class="h2">{{ acc.balance|number:2 }}</span><i class="icon-{{ acc.currency.code.toLowerCase() }}"></i>
    </div>
    <div class="col-lg-8">                        
      <div class="font-semibold">
        {{ acc.name }}
        <div ng-if="acc.access == 'Owner'" class="pull-right">
          <a class="label bg-info" ui-sref="root.index.accounts-access({ accountID: acc._id })">Manage Access</a>
          <a class="label bg-success" ui-sref="root.index.accounts-edit({ accountID: acc._id })">Edit</a>
        </div>
      </div>
      <div class="text-xs block m-t-xs"><i class="icon-list"></i> {{ acc.description }}</div>
    </div>
  </article>
  <div class="line line-dashed"></div>
</div>
