script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')

//AngularJS
script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js')
script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js')
script(type='text/javascript', src='//angular-ui.github.io/ui-router/release/angular-ui-router.min.js')
script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap-tpls.min.js')
script(type='text/javascript', src='//code.angularjs.org/1.1.5/angular-resource.min.js')
script(type='text/javascript', src='//code.angularjs.org/1.1.5/angular-cookies.min.js')

//Application Init
script(type='text/javascript', src='js/app.js')
script(type='text/javascript', src='js/user/user.js')
script(type='text/javascript', src='js/root/root.js')

//Livereload script rendered 
script(type='text/javascript', src='http://gymagogo.local:35729/livereload.js')	
