<a class="navbar-brand" href="#">Mobox</a>
<ul class="nav navbar-nav">
  <li>
    <a href="#" class="dropdown-toggle" style="background-color: transparent;">
      <i class="icon-dribbble"></i>
      <span>Projects</span>
    </a>
    <ul class="dropdown-menu" ng-controller="project.sidebar">                
      <span class="arrow top"></span>
      <li ng-repeat="project in ProjectFactory.userProjects"><a ui-sref="root.project.view({ projectID: project._id })">{{ project.name }}</a></li>
      <li class="divider"></li>
      <li><a ui-sref="root.index.projects-edit">Create</a></li>
    </ul>
  </li>
  <li ng-controller="account.sidebar">
    <a href="#" class="dropdown-toggle" style="background-color: transparent;">
      <i class="icon-signal"></i>
      <span>Accounts</span>
    </a>
    <ul class="dropdown-menu">
      <span class="arrow top"></span>
      <li ng-repeat="acc in AccountFactory.userAccounts"><a href="">{{ acc.name }}</a></li>
      <li class="divider"></li>
      <li><a ui-sref="root.index.accounts-edit">Create</a></li>
    </ul>
  </li>
</ul>
<ul class="nav navbar-nav navbar-right">
  <li>
    <a href="#" class="dropdown-toggle" style="background-color: transparent;">
      <i class="icon-user"></i>
      <span>{{ currentUser.name }}</span>
    </a>
    <ul class="dropdown-menu m-t-sm">
      <span class="arrow top"></span>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Profile</a></li>
      <li>
        <a href="#">
          <span class="badge bg-danger pull-right">3</span>
          Notifications
        </a>
      </li>
      <li class="divider"></li>
      <li><a href="#">Help</a></li>
      <li><a href="/users/logout">Logout</a></li>
    </ul>
  </li>
</ul>