<div ng-show="!projects.length && !isBeingEdited()" class="panel text-center">
  <div class="panel-body">
    <i class="icon-dribbble icon-5x"></i>
    <div class="wrapper h3 font-thin">No projects yet <a class="btn btn-primary" ng-click="edit()">Create</a></div>
  </div>
</div>


<div class="col-sm-6" ng-repeat="project in projects">
  <section class="panel">
    <header class="panel-heading bg-primary lter no-borders">
      <div class="clearfix">
        <i class="icon-dribbble icon-5x pull-left border m-r"></i>
        <div class="clear">
          <div class="h3 m-t-xs m-b-xs"><a ui-sref="project({ projectID: project._id })">{{ project.name }}</a> 
            <span class="h5 pull-right">
              <a href="" class="label bg-success bg-dark" ng-click="edit(project)" ng-hide="isBeingEdited(project)">Edit</a>
              <a href="" class="label bg-success bg-dark" ng-click="view(project)" ng-show="isBeingEdited(project)">Return</a>
            </span>
          </div>
          <small class="text-muted">{{ project.description }}</small>
        </div>                
      </div>
    </header>
    
    <div ng-include="'views/project/root.index.edit.html'" ng-show="isBeingEdited(project)">
    </div>
    <div class="list-group no-radius alt" ng-hide="isBeingEdited(project)" style="height: 199px;">
      <a href="#" class="list-group-item"> 
        <span class="badge bg-success">0</span> 
        <i class="icon-comment icon-muted"></i> Transactions
      </a>
      <a href="#" class="list-group-item">
        <span class="badge bg-info">0</span>
        <i class="icon-envelope icon-muted"></i> Accounts
      </a>
      <a href="#" class="list-group-item">
        <span class="badge bg-light">0</span>
        <i class="icon-eye-open icon-muted"></i> Categories
      </a>
      <a href="#" class="list-group-item">
        <span class="badge bg-light">0</span>
        <i class="icon-time icon-muted"></i> Resources spent
      </a>
      <a href="#" class="list-group-item">
        <span class="badge bg-light">0</span>
        <i class="icon-time icon-muted"></i> Participants
      </a>
    </div>
    
  </section>    
</div>

<div class="col-sm-6">
  <section class="panel" ng-show="isBeingEdited()">
    <header class="panel-heading bg-primary lter no-borders">
      <div class="clearfix">
        <i class="icon-dribbble icon-5x pull-left border m-r"></i>
        <div class="clear">
          <div class="h3 m-t-xs m-b-xs">{{ editableProject.name }}&nbsp; 
            <span class="h5 pull-right">
              <a href="" class="label bg-success bg-dark" ng-click="view()">Cancel</a>
            </span>
          </div>
          <small class="text-muted">{{ editableProject.description }}</small>
        </div>                
      </div>
    </header>
    
    <div ng-include="'views/project/root.index.edit.html'"></div>
  </section>    
  
  <section class="panel text-center" ng-hide="!projects.length || isBeingEdited()" ng-click="edit()" style="height: 287px;">
    <header class="wrapper font-thin">
      <div style="margin: 25px 0;"><i class="icon-dribbble icon-5x"></i></div>
      <div><a class="btn btn-primary wrapper h3 font-thin" ng-click="edit()">Create new Project</a></div>
    </header>
  </section>
      
</div>


