<div class="list-group no-radius alt">
  <a href="#" class="list-group-item"> 
    <span class="badge bg-success">0</span> 
    <i class="icon-comment icon-muted"></i> Transactions
  </a>
  <a href="#" class="list-group-item">
    <span class="badge bg-info">0</span>
    <i class="icon-envelope icon-muted"></i> Accounts
  </a>
  <a href="#" class="list-group-item">
    <span class="badge bg-light">0</span>
    <i class="icon-eye-open icon-muted"></i> Categories
  </a>
  <a href="#" class="list-group-item">
    <span class="badge bg-light">0</span>
    <i class="icon-time icon-muted"></i> Resources spent
  </a>
</div>
