<div class="col-sm-3">

  <section class="panel">
    <div ui-view="categories"></div>
  </section>    

  <section class="panel">
    <header class="panel-heading bg-info lter no-borders">
      <div class="clearfix h5 font-thin"><i class="icon-usd icon-1x"></i> Accounts</div>
    </header>
    
    <div ui-view="accounts"></div>
  </section>    
                                      
  <section class="panel" ng-if="project.access == 'Owner'">
    <header class="panel-heading bg-info lter no-borders">
      
      <div class="clearfix h5 font-thin"><i class="icon-user icon-1x"></i> Users</div>
    </header>
    
    <div ui-view="access"></div>
  </section>    

</div>

<div class="col-sm-9">
  <section class="panel">
    <header class="panel-heading bg-primary lter no-borders">
      <div class="clearfix h3 font-thin"><i class="icon-th-list icon-1x"></i> Transactions / {{ project.name }}</div>
    </header>
    
    <div ui-view="transactions"></div>
  </section>
      
</div>
</div>
