<div class="panel-body">
  <form role="form" class="form-inline" ng-submit="submit()">
    <div class="alert alert-danger" ng-show="error">Error creating transaction</div>
    <div class="row">
      <div class="form-group col-sm-2">
        <label for="formAmount">Amount</label>
        <input type="text" class="form-control input-sm" id="formAmount" placeholder="Amount" ng-model="transaction.amount" required>
      </div>
      <div class="form-group col-sm-2">
        <label>Type</label><br />
        <label class="radio-inline">
          <input type="radio" ng-model="transaction.type" value="1" name="transaction.type"> Cost
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="transaction.type" value="2" name="transaction.type"> Inflow
        </label>
      </div>
      <div class="form-group col-sm-2">
        <label for="formAccount">Account</label>
        <select class="form-control input-sm" id="formAccount" ng-model="transaction.account" ng-options="account._id as account.name for account in projectAccounts.data" required></select>
      </div>
      <div class="form-group col-sm-2">
        <label for="formCategory">Category</label>
        <select class="form-control input-sm" id="formCategory" ng-model="transaction.category" ng-options="category._id as category.name for category in projectCategories.data" required ng-required></select>
      </div>
      <div class="form-group col-sm-3">
        <label for="formDescription">Description</label>
        <input type="text" class="form-control input-sm" id="formDescription" placeholder="Description" ng-model="transaction.description">
      </div>
      <div class="form-group col-sm-1">
        <br />
        <button type="submit" class="btn btn-default pull-right">Create</button>
      </div>
    </div>
  </form>

  <br />
  <table ng-table class="table table-striped table-bordered">
    <tr ng-repeat="tr in transactions">
      <td data-title="'Amount'">{{tr.amount}}</td>
      <td data-title="'Type'"><span class="label" ng-class="{ 'bg-success': (tr.type == 2), 'bg-danger': (tr.type == 1) }">{{tr.type | transactionType}}</span></td>
      <td data-title="'Account'">{{tr.account}}</td>
      <td data-title="'Category'">{{ tr.category }}</td>
      <td data-title="'Description'">{{tr.description}}</td>
      <td data-title="'Created'">{{tr.created | date:'yyyy-MM-dd HH:mm:ss' }}</td>
    </tr>
  </table>
</div>