<div class="panel-body">
  <form role="form" class="form-inline" ng-submit="submit()" ng-if="project.access == 'Owner' || project.access == 'Admin' || project.access == 'Write'">
    <div class="alert alert-danger" ng-show="error">Error: {{ error }}</div>
    <div class="row">
      <div class="form-group col-sm-2">
        <label for="formAmount">Amount</label>
        <input type="text" class="form-control input-sm" id="formAmount" placeholder="Amount" ng-model="transaction.amount" required>
      </div>
      <div class="form-group col-sm-2">
        <label>Type</label><br />
        <label class="radio-inline">
          <input type="radio" ng-model="transaction.type" value="1" name="transaction.type"> Cost
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="transaction.type" value="2" name="transaction.type"> Inflow
        </label>
      </div>
      <div class="form-group col-sm-2">
        <label for="formAccount">Account</label>
        <select class="form-control input-sm" id="formAccount" ng-model="transaction.account" ng-options="account._id as account.name for account in theProject.accounts" required></select>
      </div>
      <div class="form-group col-sm-2">
        <label for="formCategory">Category</label>
        <select class="form-control input-sm" id="formCategory" ng-model="transaction.category" ng-options="category._id as category.name for category in theProject.categories" required ng-required></select>
      </div>
      <div class="form-group col-sm-2">
        <label for="formDescription">Description</label>
        <input type="text" class="form-control input-sm" id="formDescription" placeholder="Description" ng-model="transaction.description">
      </div>
      <div class="form-group col-sm-2">
        <br />
        <button type="button" class="btn btn-danger" ng-show="transaction._id" ng-click="remove(transaction)">Delete</button>
        <button type="submit" class="btn btn-default pull-right" ng-show="!transaction._id">Create</button>
        <button type="button" class="btn btn-info" ng-show="!transaction._id" ng-click="batch()">Batch: {{ transaction.description }}</button>
        <button type="submit" class="btn btn-default pull-right" ng-show="transaction._id">Update</button>
      </div>
    </div>
  </form>

  <br />
  <ul class="list-group no-radius alt" id="ui-view-transaction">
    <li class="list-group-item clearfix" ng-repeat="tr in pager.data">
      <div class="col-lg-2 amount" ng-class="{ positive: (tr.type == 2), negative: (tr.type == 1) }">
        <span class="h3">{{ tr.amount|number:2 }}</span><i class="icon-{{ theProject.sortedAccounts[tr.account].currency.code.toLowerCase() }}"></i>
      </div>
      <div class="col-lg-10">                        
        <div class="font-semibold h4">
          <i class="icon-pencil edit" ng-if="project.access != 'Read'" ng-click="edit(tr)"></i>{{tr.description}}
          <span class="label bg-info pull-right"><i class="icon-signal"></i> {{ theProject.sortedAccounts[tr.account].name }}</span>
        </div>
        <div class="text-xs block m-t-sm">
          Created by {{ theProject.sortedUsers[tr.created_by] }} on {{ tr.created | date:'yyyy-MM-dd HH:mm:ss' }}
          <span class="label bg-info pull-right" ng-style="{ backgroundColor: theProject.sortedCategories[tr.category].color }"><i class="icon-map-marker"></i> {{ theProject.sortedCategories[tr.category].name }}</span>
        </div>
      </div>
    </li>
  </ul>
  <ul data-pagination on-select-page="onSelectPage(page)" total-items="pager.totalItems" max-size="pager.maxSize" page="pager.currentPage" items-per-page="pager.itemsPerPage" data-boundary-links="true"></ul>

</div>