<div class="dd" nestable="{maxDepth: 2, model: 'nestable' }">
  <ol class="list-group no-radius alt dd-list">
    <li class="list-group-item dd-item" ng-repeat="cat in categories.root" data-id="{{ cat._id }}" ng-include="'project.category.list.branch'"></li>
  </ol>
</div>
<form role="form" class="col-sm-12" ng-submit="submit()" ng-if="project.access == 'Owner'">
  <div class="form-group">            
    <div class="input-group m-b">
      <span class="input-group-addon"><input type="text" ng-model="category.color" value="{{ category.color }}" colorpicker></span>
      <input type="text" class="form-control input-sm" placeholder="Create Category" ng-model="category.name" required>
    </div>    
  </div>
  <div class="form-group">
    <input type="submit" value="Create" class="btn btn-sm btn-primary" ng-show="!category._id" />
    <input type="submit" value="Save" class="btn btn-sm btn-primary" ng-show="category._id" />
    <input type="button" ng-click="remove(category)" value="Remove" class="btn btn-sm btn-danger" ng-show="category._id" />

    <a href="" ng-if="project.access == 'Owner'" ng-show="!isBeingSorted" class="btn btn-danger btn-sm pull-right" ng-click="startSorting()">Sort</a>
    <a href="" ng-if="project.access == 'Owner'" ng-show="isBeingSorted" class="btn btn-danger btn-sm pull-right" ng-click="finishSorting()">Finish sorting</a>
  </div>
</form>
<a   ng-click="categories = ''">asdf</a> {{ categories }}

<script type="text/ng-template"  id="project.category.list.branch">
  <a href="" class="edit" ng-click="edit(cat)"><i class="icon-pencil" ng-if="project.access == 'Owner'" ng-show="!isBeingSorted"></i></a>
  <i class="icon-map-marker" ng-show="!isBeingSorted" ng-style="{ color: cat.color }"></i> 
  <i class="icon-sort text-danger dd-handle" ng-show="isBeingSorted"></i> 
  {{ cat.name }}
  
  <span class="pull-right badges">               
    <span class="sum"><i class="icon-usd"></i> {{ cat.statistics.sum | categorySumWithChildren:categories[cat._id] }} </span>
    <span class="count"><i class="icon-th-list"></i> {{ cat.statistics.count }} </span>
    
    <span class="filter-icons">
      <i class="icon-check-empty" ng-show="project.filters.categories.indexOf(cat._id) < 0" ng-click="toggleFilter(cat)"></i>
      <i class="icon-check" ng-show="project.filters.categories.indexOf(cat._id) > -1" ng-click="toggleFilter(cat)"></i>
    </span>
  </span> 
  <ol class="list-group no-radius alt dd-list" ng-if="categories[cat._id].length">
    <li class="list-group-item dd-item" ng-repeat="cat in categories[cat._id]" data-id="{{ cat._id }}" ng-include="'project.category.list.branch'"></li>
  </ol>
</script>