.dd { 
  .dd-item {
    button { display: none; }
    .dd-handle { cursor: url(https://mail.google.com/mail/images/2/openhand.cur); cursor:hand; cursor:grab; cursor:-moz-grab; cursor:-webkit-grab; } 
    .dd-list { padding: 3px 0 0 0; margin: 0; }
  }

.dd-placeholder,
.dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #f2fbff; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box;  cursor:grabbing !important; cursor:-moz-grabbing !important; cursor:-webkit-grabbing !important; }
.dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), 
                      -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), 
                         -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:         linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), 
                              linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

}
.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; margin: 0; padding: 0;
  button { display: none }
}

/**
* Read/Write/Owner symbols
*/
header { position: relative; }
.ng-access-triangle { position: absolute; top: 0; left: 0; opacity: 1; width: 0; height: 0; border: 12px solid red; border-color: red transparent transparent red; background: transparent none !important;
  label { background: transparent none !important; position: relative; left: -12px; top: -16px;  
    i { background: transparent none !important; color: #fff; font-size: 10px; }
  }
  
  &.access-Owner { border-color: #FB6B5B transparent transparent #FB6B5B; }  
  &.access-Read { border-color: #24BEEF transparent transparent #24BEEF; }  
  &.access-Write { border-color: #92CF5C transparent transparent #92CF5C; }  
}
.article-item { position: relative;
  .ng-access-triangle { left: -15px; top: -10px; }
}

/** 
* Colorpicker directive
*/
.minicolors.minicolors-theme-default {
  input.minicolors-input { display: none; }
  .minicolors-swatch { position: static; width: 15px; height: 15px; cursor: pointer; }
}

/**
* Chosen
*/

.chosen-container .chosen-choices { border-color: #D8DDE5; border-radius: 3px; background: none; padding-bottom: 1px;
  li.search-field input[type="text"] { box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; 
    font-size: 12px; font-family: inherit; line-height: 1.5; color: #aaa;
  }
}

/**
* Categories view
*/

[ui-view='categories'] {
  li { padding: 3px 0 3px 15px; line-height: 20px; border: none; 
    .bg-color { display: block; float: left; height: 20px; width: 5px; margin-right: 5px; }
    .edit { opacity: 0.1; }
    
    .edit:hover { opacity: 1; }
    
    .badges { margin-right: 15px; }
    .filter-icons { width: 15px; display: inline-block; cursor: pointer; }
  }
}

[ui-view='accounts'] {
  .filter-icons { width: 15px; display: inline-block; cursor: pointer; }
  .remove { opacity: 0.1; cursor: pointer;
    &:hover { opacity: 1; }
  }
}

/**
* Transactions view
*/
#ui-view-transaction {
  .list-group-item {
    .amount { 
      &.positive { color: #308F4F; 
        .h3:before { content: '+'; }
      }
      &.negative { color: #8F3030; 
        .h3:before { content: '-'; }
      }
    }
    
    .edit { opacity: 0.2; cursor: pointer;
      &:hover { opacity: 1; }
    }
  }
}
